html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 16, 16);
}

nav {
    background: rgb(16, 16, 16);
    border-color: rgb(8, 8, 8);
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    height: 100vh;
    padding: 100px 20px;
    text-align: center;
}

#about {
    background: rgb(10, 10, 10)
}

.about-body {
    display: flex;
    gap: 80px;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#project {
    background: rgb(10, 10, 10)
}

.project-body {
    color: white;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-picture {
    width: 512px;
    max-width: 25%;
    height: auto;
}

.personal-information {
    color: white;
}

.button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    border: 3px solid rgb(8, 8, 8);
    border-radius: 10px;
    background-color: rgb(12, 12, 12);
}

.youtube {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    background-color: rgb(255, 24, 24);
    padding: 10px 10px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 8px;
    cursor: pointer;
}

.youtube:hover {
    background-color: rgb(253, 62, 62);
}

.x {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    background-color: rgb(8, 8, 8);
    padding: 10px 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
}

.x:hover {
    background-color: rgb(20, 20, 20);
}

.facebook {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    background-color: rgb(31, 109, 255);
    padding: 10px 10px;
    border: 2px solid rgb(0, 81, 255);
    border-radius: 8px;
    cursor: pointer;
}

.facebook:hover {
    background-color: rgb(67, 131, 252);
}

.instagram {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    background-color: rgb(255, 36, 237);
    padding: 10px 10px;
    border: 2px solid rgb(255, 0, 212);
    border-radius: 8px;
    cursor: pointer;
}

.instagram:hover {
    background-color: rgb(252, 86, 238);
}

.github {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    background-color: rgb(133, 52, 243);
    padding: 10px 10px;
    border: 2px solid rgb(100, 23, 158);
    border-radius: 8px;
    cursor: pointer;
}

.github:hover {
    background-color: rgb(155, 95, 238);
}

@media (max-width: 768px) {
    .about-body {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .profile-picture {
        width: 250px;
    }
}
