body {
    background-color: rgb(16, 16, 16);
}

.head {
    text-align: center;
    border: 5px solid rgb(20, 20, 20);
    border-radius: 5px;
    color: white;
    background-color: rgb(20, 20, 20);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
