.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.head {
    text-align: center;
    width: 200px;
    padding: 200px;
    background-color: rgb(56, 56, 56);
}
