body {
    background-color: rgb(16, 16, 16);
}

.head {
    text-align: center;
    border: 5px solid rgb(20, 20, 20);
    border-radius: 5px;
    color: white;
    background-color: rgb(20, 20, 20);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.body {
    color: white;
}

.button {
    position: fixed;
    padding: 10px;
    bottom: 0px;
    right: 0px;
}

.github {
    display: inline-block;
    color: white;
    font-weight: bolder;
    background-color: rgb(133, 52, 243);
    padding: 10px 32px;
    border: 2px solid rgb(100, 23, 158);
    border-radius: 8px;
    cursor: pointer;
}
